.itemsList-ul {
  list-style-type: none;
}

.itemsList-ul li {
  padding: 5px;
}

.filter {
    padding: 10px;
}

.filter button {
    margin: 5px;
    border: solid 1px #CCC;
    background: #EEE;
}

.filter button.selected {
    background: orange;
}